@page
@model IndexModel
<h2>Procurement demo</h2>
<ul>
  <li><a href="/Vendors">Vendors</a></li>
  <li><a href="/Requests">Purchase requests</a></li>
  <li><a href="/Invoices">Invoices</a></li>
</ul>
